h1
{
    color:#71c621;
}
#p1
{
    color:aqua;
}
#home
{
    text-align: center;
    border:3px,solid,hsl(46, 86%, 41%);
}
#home:hover
{
    background-color: blanchedalmond;
}
#nav
{
    background-color: chocolate;
    text-align: center;
    height:25px;
    padding-top: 3px;
    margin-bottom: 5px;
}
#nav a{
    margin:0px 3px;
    text-decoration: double;
    color:black;
}
#card
{
    text-align: center;
    border: 3px solid rgb(201, 149, 36);
    align-items: center;
    margin: 5px auto;
    height:400px;
    width: 300px;
    border-radius:8px;
}
#card_img
{   
    align-items: center;
    margin: 0px,auto;

}
#action
{
    text-align: center;
}
button
{
    width:100%;
}
#toggle
{
    text-align: center;
    -webkit-animation-fill-color:beige ;
}
#img{
    height: 200px;
    width: 300px;
}
