h1
{
    color:#71c621;
}
#p1
{
    color:aqua;
}
#home
{
    text-align: center;
    border:3px,solid,hsl(46, 86%, 41%);
}
#home:hover
{
    background-color: blanchedalmond;
}
#nav
{
    background-color: chocolate;
    text-align: center;
    height:25px;
    padding-top: 3px;
    margin-bottom: 5px;
}
#nav a{
    margin:0px 3px;
    text-decoration: double;
    color:black;
}
#card
{
    text-align: center;
}
#cardcard_image
{
    align-items: center;
    margin: 0px,auto;

}
#card h2,p{
    text-align: center;
    text-decoration: double;
}
